body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ececec;
  padding: 0;
  width: 100%;
  border-radius: 0;
}

nav ul {
  list-style-type: none;
  margin-right: 2%;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: #007bff;
}

main {
  display: block;
  max-width: 100%;
  background-color: #fff;
  margin-top: 0;
}

h1 {
  font-size: 24px;
  margin-top: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

h2 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
